<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit: Home Screen</ion-title>
    <ion-button slot="end" routerLink="/create">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <ion-button *ngFor="let word of words" size="large" [routerLink]="['/create', word.id]">
      {{word.name}}
      <br>
      {{word.icon}}
    </ion-button>
  </div>
</ion-content>